@page "/projektpruefung"
@namespace PMD.App.Features.Scanner.Pages
@using Microsoft.AspNetCore.Components.Web
@using CommunityToolkit.Maui.Storage
@using PMD.App.Application.ProjectStates
@using PMD.App.Domain.ProjectStates
@using PMD.App.Features.Scanner.Components


<PageTitle>PMD - Projektprüfung</PageTitle>

<div class="container-fluid pmd-scanner-page">
    <ProjectScannerPageHeader />

    <ProjectFolderScanInputCard 
        @bind-FolderPath="folderPath"
        ErrorMessage="@errorMessage"
        OnPickFolder="PickFolderAsync"
        OnScanProjectFolder="ScanProjectFolder" />

    <ScannerInfoMessage Message="@infoMessage" />

    @if (scanResult is not null)
    {
        <ScanSummaryView 
            ScanResult="scanResult"
            DisplayedFileCount="@GetDisplayedFileCount()" />

        <PreparedProjectStateView 
            PreparedProjectState="preparedProjectState"
            IsAlreadyRemembered="@IsPreparedProjectStateRemembered()"
            OnRememberProjectState="RememberPreparedProjectState" />

        <RememberedProjectStatesList 
            ProjectStates="RememberedProjectStates"
            OnCompareLatestProjectStates="CompareLatestProjectStates"
            OnClearRememberedProjectStates="ClearRememberedProjectStates" />

        <ProjectStateComparisonView 
            ComparisonResult="comparisonResult"
            OldProjectState="comparedOldProjectState"
            NewProjectState="comparedNewProjectState"
            FileLimit="ComparisonFileLimit" />

        <ScannerWarningsList 
            Warnings="scanResult.Warnings"
            WarningLimit="20" />

        <IgnoredFoldersList 
            Folders="scanResult.IgnoredFolders"
            TotalFolderCount="scanResult.IgnoredFolderCount"
            FolderLimit="20" />

        <FileTypeStatsTable 
            Files="scanResult.Files"
            FileTypeLimit="10" />

        <LargestFilesTable 
            Files="scanResult.Files"
            FileLimit="10" />

        <FoundFilesTable 
            Files="scanResult.Files"
            FileLimit="DisplayedFileLimit" />
    }
</div>

@code {
    private const int DisplayedFileLimit = 50;
    private const int ComparisonFileLimit = 20;

    private string folderPath = string.Empty;
    private string? errorMessage;
    private string? infoMessage;
    private ProjectFolderScanResult? scanResult;
    private ProjectState? preparedProjectState;
    private IReadOnlyList<ProjectState> RememberedProjectStates => ProjectStateMemoryStore.ProjectStates;
    private ProjectStateComparisonResult? comparisonResult;
    private ProjectState? comparedOldProjectState;
    private ProjectState? comparedNewProjectState;

}