# Visual Studio
.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

# .NET build output
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
packages/
*.nupkg

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
