@page "/not-found"

<PageTitle>Seite nicht gefunden</PageTitle>

<div class="container-fluid p-4">
    <h1>Seite nicht gefunden</h1>

    <p>
        Die gewünschte Seite konnte nicht gefunden werden.
    </p>

    <a href="">Zurück zur Übersicht</a>
</div>
